section {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.article {
  position: relative;
  overflow: hidden;
  background: #ffffff;
  width: 800px;
  height: 500px;
  border-radius: 36px;
  /* opacity: 0.6; */
  transition: 0.5s;
}

h2,
p {
  margin: 0;
}

.article .h2 {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 10px;
  font-weight: 400;
  color: rgb(255 255 255 / 96%);
}

.p {
  color: rgb(255 255 255 / 66%);
}

.material-symbols-outlined {
  display: grid;
  place-items: center;
  width: 50px;
  height: 50px;
  background: rgb(255 255 255 / 80%);
  border-radius: 50%;
  font-size: 28px;
}

.content {
  position: absolute;
  bottom: 100;
  left: 0;
  width: 100%;
  z-index: 1;
  padding: 20px 0 70px 20px;
  display: flex;
  align-items: center;
  gap: 14px;
  background: linear-gradient(to top, rgb(0 0 0 / 0%), rgb(0 0 0 / 40%));
  transition: 0.25s;
}

img {
  position: absolute;
  opacity: 1;
  z-index: 1;
  top: 55%;
  left: 50%;
  translate: -50% -50%;
}

button {
  position: absolute;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  z-index: 2;
  top: 80%;
  left: 50%;
  translate: -50% -50%;
  filter: grayscale(0.5);
  border-radius: 2px;
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
}

